doc
data/*/source
data/source
data/IRS/
data/Matador/protein_drug
data/NCI/gene_drug
data/PharmaGKB/disease_pathway
data/PharmaGKB/drug_pathway
data/PharmaGKB/gene_disease
data/PharmaGKB/gene_drug
data/PharmaGKB/gene_pathway
data/PharmaGKB/variants
data/PharmaGKB/diseases
data/PharmaGKB/genes
data/PharmaGKB/pathways
data/STITCH/protein_chemical
data/STITCH/chemical.aliases.v2.0.tsv
data/STITCH/chemical_chemical.links.v2.0.tsv
data/STITCH/gene_chemical
data/STITCH/human.protein_chemical.txt
data/STITCH/protein_chemical.links.v2.0.tsv
data/STRING/protein_protein
data/KEGG/drugs
data/KEGG/gene_drug
data/KEGG/gene_pathway
data/KEGG/genes
data/KEGG/pathways
data/STITCH/chemicals
names.txt
cache/

data/NCI/gene_cancer
data/PharmaGKB/drugs
