%dt
  %b Patients list
%dd <span class="gain">Red:</span> gene is in the top5 gained genes for this patient. <span class="loss">Green:</span> gene is in the top5 lost genes fot this patient.  

%dl
  %dt Gained in Patients
  %dd= patients_details_top5_patient_list(patient_info, true) 
  %dt Lost in Patients
  %dd= patients_details_top5_patient_list(patient_info, false) 
%br
%dt 
  %b Expression data
%dd Some description
%div{:id => "exp_plot", :style=>"width:600px;height:300px;"}
:javascript
  var options = {
    series: {
      bars: { show: true }
    }
   };
  #{patients_details_expression(patient_info)}
  $.plot($("#exp_plot"), [ expression ], options);    
