%table{:id => "summary_table"}
  %thead
    %tr
      %th{:width => 100} GeneName
      %th{:width => 100} Mutation
      %th{:width => 100} Score
      %th{:width => 200} Pathways
      %th{:width => 200} Drugs [M]atador ,  [P]harma[GKB]
      %th{:width => 100} Cancers for which it was reported
  %tbody      
    - @ordered_genes.each do |gene|
      %tr{:id => "row_" + gene * "_"}
        %td= @info[gene][:PharmaGKB].inspect 
        %td 
        %td     
        %td= kegg_summary(@info[gene][:KEGG]) 
        %td= matador_summary(@info[gene][:Matador]) + pharmagkb_summary(@info[gene][:PharmaGKB])
        %td= cancer_genes_summary(@info[gene][:Anais_cancer])        