%table{:id => "summary_table"}
%div
  %h2 Legend
  %table
    %thead
      %th Pathways
      %th Drugs
    %tbody
      %td
        %p  <span style="color:red">red:</span> pathway enriched in mutations for the given cancer type
      %td
        %p  [M]: Matador
        %p  [PGKB]: PharmaGKB database
        %p  <span style="color:red">red:</span> Matador DIRECT association   
  