%div{:style=> 'width:784px;height:230px;float:left;margin-right:10px;margin-bottom:20px;'}
  %img{:src => '/images/pm-front.jpg'}
%div{:style=> 'width:230px;height:230px;float:left;background-color:#2c2c2c'}
%div{:class => 'clearfix'}
%div{:style=> 'width:387px;float:left;margin-right:10px;'}
  %h2
    What is personalized medicine?
  %hr  
  %p
    Personalized medicine is a term that describes the use of individual characteristics of each patient to predict the susceptibility of the patient to a particular disease and the response to a subset of drugs. After the sequencing of the first human genome in 2003 several studies has shown that each individual presents a collection of mutations that affect the susceptibility of the individual to certain diseases and also the response to different treatments. 
  %p
    The goal of personalized medicine is to use the information about mutations found in the patient's genome to propose an appropriate treatment for a given disease.  In the past years these studies has been done using only the information provided by few mutations in the genome that are called biomarkers. Currently the reduce of the sequencing techniques costs starts to make possible the use of all the mutations present in the genome which could produce more accurate results.  

  %br
%div{:style=> 'width:387px;float:left;margin-right:10px;margin-right:10px;'}
  %h2
    About this application
  %hr   
  %p
    The goal of this application is to provide a framework to analyze the results obtained from full-exon sequencing experiments from the personalized medicine point of view. For each patient we try to estimate the background disease risk and the drug response.
  %p
    We also focus on the differential mutation profile in different cell lines corresponding to the disease (normally cancer cells) and the control (blood cells) in order to retrieve those drugs that could be valid to the disease treatment taking in account the background disease risk and drug response previously computed. 
     
%div{:style=> 'width:230px;float:left;'}
%div{:class => 'clearfix'}


