%p#file_selection
  %a(href='/?file=Metastasis') Metastasis
  %a(href='/?file=No_Metastasis') No Metastasis
  %a(href='/?file=Exclusive') Exclusively Metastasis
  %a(href='/?file=Raquel') Raquel
%h1#header Personalized Medicine
%a(href='/excel/') Download table in Download table in Excel

= haml :_summary, :layout => false
  
#genecard

:javascript
  genecard_href = '/ajax/genecard';

  $('#summary_table').flexigrid({
  url: '/ajax/genes',
  dataType: 'json',
  colModel : [
    {display: 'GeneName', name : 'genename', width : 60, sortable : true, align: 'left'},
    {display: 'Position', name : 'position', width : 90, sortable : true, align: 'left'},
    {display: 'Mutation', name : 'mutation', width : 40, sortable : false, align: 'left'},
    {display: 'Type', name : 'type', width : 75, sortable : true, align: 'left'},
    {display: 'Score', name : 'score', width : 20, sortable : true, align: 'right'},
    {display: 'Severity', name : 'severity', width : 40, sortable : true, align: 'right'},
    {display: 'SIFT', name : 'sift', width : 40, sortable : true, align: 'right'},
    {display: 'Polyphen', name : 'polyphen', width : 40, sortable : true, align: 'right'},
    {display: 'SNP&GO', name : 'snp_go', width : 40, sortable : true, align: 'right'},
    {display: 'FireDB', name : 'firedb', width : 20, sortable : true, align: 'right'},
    {display: 'Pathways', name : 'pathways', width : 200, sortable : true, align: 'left'},
    {display: 'Drugs', name : 'drugs', width : 250, sortable : true, align: 'left'},
    {display: 'Cancers for which it was reported', name : 'cancers', width : 100, sortable : true, align: 'left'}
    ],
  sortname: "drugs",
  sortorder: "desc",
  usepager: true,
  singleSelect: true,
  title: 'Summary',
  useRp: true,
  rp: 15,
  showTableToggleBtn: false,
  height: 300,
  nowrap: false
  }
  );
