%h1 Genes and Drugs

= haml :_summary, :layout => false
  
/- @info.keys.sort.each do |gene|
/  %div.genecard{:id => gene * "_"}
/    = haml :_gene, :layout => false, :locals => {:info_gene => @info[gene], :name => gene}


:javascript
  $('#summary_table').flexigrid({
  url: '/ajax/genes',
  dataType: 'json',
  colModel : [
    {display: 'GeneName', name : 'genename', width : 60, sortable : true, align: 'left'},
    {display: 'Chr', name : 'chr', width : 20, sortable : true, align: 'left'},
    {display: 'Position', name : 'position', width : 50, sortable : false, align: 'left'},
    {display: 'Mutation', name : 'mutation', width : 40, sortable : false, align: 'left'},
    {display: 'Type', name : 'type', width : 75, sortable : true, align: 'left'},
    {display: 'Score', name : 'score', width : 20, sortable : true, align: 'right'},
    {display: 'SNP_GO', name : 'snp_go', width : 40, sortable : true, align: 'right'},
    {display: 'Polyphen', name : 'polyphen', width : 40, sortable : true, align: 'right'},
    {display: 'FireDB', name : 'firedb', width : 20, sortable : true, align: 'right'},
    {display: 'Pathways', name : 'pathways', width : 200, sortable : true, align: 'left'},
    {display: 'Drugs', name : 'drugs', width : 250, sortable : true, align: 'left'},
    {display: 'Cancers for which it was reported', name : 'cancers', width : 100, sortable : true, align: 'left'}
    ],
  sortname: "drugs",
  sortorder: "desc",
  usepager: true,
  singleSelect: true,
  title: 'Summary',
  useRp: true,
  rp: 15,
  showTableToggleBtn: false,
  height: 400,
  nowrap: false
  }
  );   



