%h1 Genes and Drugs

= haml :_summary, :layout => false
  
/ - @ordered_genes.each do |gene|
/  %div.genecard{:id => gene * "_"}
/    = haml :_gene, :layout => false, :locals => {:info_gene => @info[gene], :name => gene}


:javascript
  $('#summary_table').flexigrid({
  url: '/ajax/genes',
  dataType: 'json',
  colModel : [
    {display: 'GeneName', genename : 'name', width : 150, sortable : true, align: 'left'},
    {display: 'Chr', name : 'chr', width : 20, sortable : true, align: 'left'},
    {display: 'Position', name : 'position', width : 40, sortable : false, align: 'left'},
    {display: 'Mutation', name : 'mutation', width : 40, sortable : false, align: 'left'},
    {display: 'Type', name : 'type', width : 60, sortable : true, align: 'left'},
    {display: 'Score', name : 'score', width : 20, sortable : true, align: 'right'},
    {display: 'Pathways', name : 'pathways', width : 300, sortable : true, align: 'left'},
    {display: 'Drugs', name : 'drugs', width : 300, sortable : true, align: 'left'},
    {display: 'Cancers for which it was reported', name : 'cancers', width : 80, sortable : true, align: 'left'}
    ],
  sortname: "drugs",
  sortorder: "desc",
  usepager: true,
  singleSelect: true,
  title: 'Summary',
  useRp: true,
  rp: 15,
  showTableToggleBtn: false,
  height: 400,
  nowrap: false
  }
  );   



